In [3]:
import sqlite3
import pandas as pd
import numpy as np
import tensorflow as tf
import matplotlib.pyplot as plt
from tqdm import tqdm
import xgboost
import random
import pickle
import os

import warnings
warnings.simplefilter(action='ignore')

In [19]:
for path in ['GK/', 'DEF/', 'MID/', 'FWD/']:
    files = os.listdir(path)
    for i_file_nr in range(len(files)):
        if 'Binned' not in files[i_file_nr]:
            if '.csv' in files[i_file_nr]:
                file = pd.read_csv(path + files[i_file_nr])
                for i_file in range(len(file)):
                    if file.predmin.iloc[i_file] < 10:
                        file.predmin.iloc[i_file] = 0
                    elif file.predmin.iloc[i_file] > 80:
                        file.predmin.iloc[i_file] = 90
                
                file.to_csv(path + 'Binned_' + files[i_file_nr])

In [8]:
files[3]

'Lynge_CNN1D_Hard_Sigmoid_DEF.csv'

In [16]:
file

      Unnamed: 0  player_id    datetime  minutes  predmin
0              0        645  2024-09-21        0        0
1              1        645  2024-09-30        0        0
2              2        645  2024-10-05        0        0
3              3        645  2024-10-19        0        0
4              4        645  2024-10-26       13        0
...          ...        ...         ...      ...      ...
4941        4941       1285  2023-04-30        0       64
4942        4942       1285  2023-05-06       90       36
4943        4943       1285  2023-05-13       90       59
4944        4944       1285  2023-05-21        0       68
4945        4945       1285  2023-05-28       30       21

[4946 rows x 5 columns]